{% extends "base.html" %}

{% block title %}
Spanish Lessons To Individuals And Groups
{% endblock %}

{# Navbar #}
{% block navbar_contents %}
	<li>
	    <a href="#about"><span>About</span></a>
	</li>
    {#<li>
        <a href="#corporate"><span>Corporations</span></a>
    </li>#}
    <li>
        <a href="#adults"><span>Adults</span></a>
    </li>
    <li>
        <a href="#teens"><span>Teens</span></a>
    </li>
    <li>
        <a href="#children"><span>Children</span></a>
    </li>
    <li>
        <a href="#price"><span>Price</span></a>
    </li>
	{{ super() }}
{% endblock %}

{# Sections #}
{% block sections %}
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <div class="brand-heading">
                        <h1 class="brand-heading">Learn Spanish In Vancouver</h1>
                        <div style="display:inline-block">
                            <img src="theme/img/apple-touch-icon-144-precomposed.png" style="height: 3.0em; float: left; padding-right: 1.0em;" />
                            <p style="display:inline-block" id="message"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-3">
                            <a href="#adults" class="btn btn-block btn-intro">Adults</a>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <a href="#teens" class="btn btn-block btn-intro">Teens</a>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <a href="#children" class="btn btn-block btn-intro">Children</a>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <a href="#contact" class="btn btn-block btn-intro">Contact</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="about" class="text-center">
        <div class="container-fluid content">
            <div class="row">
                <div class="col-md-12">
                    <h2>About Me</h2>
                    <div class="divider-grey"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <blockquote class="blockquote-reverse">
                        <p>Approximately 470 million people speak Spanish as a native language, making it second only to Mandarin in terms of its number of native speakers worldwide</p>
                        <footer><a href="http://en.wikipedia.org/wiki/Spanish_language" target="_blank">Spanish Language Wikipedia Article</a></footer>
                    </blockquote>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="container-fluid container-md-height">
                        <div class="row row-md-height">
                            <div class="col-md-3 col-md-height col-middle">
                                <img src="theme/img/me.jpg" alt="Itziar Lopez" class="img-responsive img-circle" style="margin-left:auto; margin-right:auto;"/>
                            </div>
                            <div class="col-md-9 col-md-height col-middle text-left" style="padding-top: 1em;">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <p>
                                            Hi, I'm Itziar and I am passionate about Spanish. I come from the city of <a href="http://en.wikipedia.org/wiki/Pamplona" target="_blank">Pamplona</a> in Spain where I gained experience in teaching both adults and children. I now live in beautiful Vancouver where I have been teaching Spanish to children in kindergarten all the way up to adults who have retired.
                                        </p>
                                    </div>
                                    <div class="col-xs-12" id ="firstlesson">
                                        <h3>My Teaching Method</h3>
                                    </div>
                                    <div class="col-xs-12">
                                        <p>I customize lessons according to my student's personal needs. My objective is that my students start using Spanish from the <stong>first lesson</strong>. How do I do this? <a href="#price">By determining my student's goals and assessing their level to design a personal study programme</a>. The key to my student's success is good planning and communication.</p>
                                        <p>As someone that has learnt both English and French as foreign languages, I understand your fears, hopes and frustrations. I will help you overcome these challenges.</p>
                                    </div>
																		<div class="col-xs-12" id ="exampreparation">
                                        <h3>Exam Preparation</h3>
                                    </div>
                                    <div class="col-xs-12">
                                        <p>I also offer customized exam preparation lessons for all levels. If you are looking to pass your Spanish Exam, I can help you to prepare.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {#<section id="corporate" class="text-center">
        <div class="container-fluid content">
            <div class="row">
                <h2>Corporations</h2>
                <div class="col-xs-12">
                    <div class="divider-grey"></div>
                </div>
                <div class="col-md-10 col-md-offset-1">
                    <div class="container-fluid container-md-height">
                        <div class="row row-md-height">
                            <div class="col-md-3 col-md-height col-middle">
                                <img src="theme/img/corporations.jpg" alt="Itziar teaching at corporations" class="img-responsive img-circle" style="margin-left:auto; margin-right:auto;"/>
                            </div>
                             <div class="col-md-9 col-md-height col-middle text-left" style="padding-top: 1em;">
                                <p>
                                    Each company is unique and therefore I customize Spanish lessons for corporations to suit their required business situation. I am aware of the time constraints faced by employees, so I concentrate in maximizing the learning potential in the the allotted time by conducting lessons on your premises and by creating a dynamic learning environment that is applicable and fun.
                                </p>
                                <p>
                                    The ultimate goal of learning Spanish in a corporate setting is to be able to improve an employees’s confidence in conducting business in Spanish.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 page-scroll">
                        <div class="divider-grey"></div>
                        <p style="text-align: center">For more information, please make <a href="#contact">contact</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>#}

    <section id="adults" class="text-center">
        <div class="container-fluid content">
            <div class="row">
                <h2>Adults</h2>
                <div class="col-xs-12">
                    <div class="divider-grey"></div>
                </div>
                <div class="col-md-10 col-md-offset-1">
                    <div class="container-fluid container-md-height">
                        <div class="row row-md-height">
                            <div class="col-md-3 col-md-height col-middle">
                                <img src="theme/img/adults.jpg" alt="Itziar teaching adults" class="img-responsive img-circle" style="margin-left:auto; margin-right:auto;"/>
                            </div>
                             <div class="col-md-9 col-md-height col-middle text-left" style="padding-top: 1em;">
                                <p>
                                    Every individual has different needs and so I adapt lessons to your requirements. I offer beginner, intermediate and advanced classes and I encourage students who are ready, to take the <a href="http://en.wikipedia.org/wiki/DELE_%28Spanish_test%29" target="_blank">DELE</a> exam.
                                </p>
                                <p>
                                    I also teach classes for those who want to learn Spanish for their travels. The emphasis is on combining grammar with speaking skills to develop basic conversational skills.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 page-scroll">
                        <div class="divider-grey"></div>
                        <p style="text-align: center">For more information, please make <a href="#contact">contact</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="teens" class="text-center">
        <div class="container-fluid content">
            <div class="row">
                <h2>Teenagers</h2>
                <div class="col-xs-12">
                    <div class="divider-grey"></div>
                </div>
                <div class="col-md-10 col-md-offset-1">
                    <div class="container-fluid container-md-height">
                        <div class="row row-md-height">
                            <div class="col-md-3 col-md-height col-middle">
                                <img src="theme/img/teens.jpg" alt="Itziar teaching teens" class="img-responsive img-circle" style="margin-left:auto; margin-right:auto;"/>
                            </div>
                            <div class="col-md-9 col-md-height col-middle text-left" style="padding-top: 1em;">
                                <p>
                                    The teenage years are the perfect time to start learning Spanish because teenagers are able to progress faster than adults. I make my classes both instructive and fun by including visuals, music and games to help develop communication skills. Learning a foreign language can open new opportunities for study right up to university level and can be advantageous to a future career.
                                </p>
                                <p>
                                    I encourage my teenage students to take the <a href="http://en.wikipedia.org/wiki/DELE_%28Spanish_test%29" target="_blank">DELE</a> exam if they are ready. Since Spanish is so widely spoken throughout the world, this knowledge will have much use outside of the classroom.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 page-scroll">
                        <div class="divider-grey"></div>
                        <p style="text-align: center">For more information, please make <a href="#contact">contact</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="children" class="text-center">
        <div class="container-fluid content">
            <div class="row">
                <h2>Children</h2>
                <div class="col-xs-12">
                    <div class="divider-grey"></div>
                </div>
                <div class="col-md-10 col-md-offset-1">
                    <div class="container-fluid container-md-height">
                        <div class="row row-md-height">
                            <div class="col-md-3 col-md-height col-middle">
                                <img src="theme/img/children.jpg" alt="Itziar teaching children" class="img-responsive img-circle" style="margin-left:auto; margin-right:auto;"/>
                            </div>
                            <div class="col-md-9 col-md-height col-middle text-left" style="padding-top: 1em;">
                                <p>
                                    Learning a new language at a young age not only improves confidence, it also <a href="http://www.actfl.org/advocacy/discover-languages/advocacy/discover-languages/what-the-research-shows/studies-supporting" target="_blank">leads to increased academic performance</a>. This also applies to children who may seem too young to benefit from learning another language. To keep children interested, I make my lessons fun while still being informative.
                                </p>
                                <p>
                                    I love teaching children my language. I teach to the following age groups:
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6">
                        <h3>Ages 5-7</h3>
                        <p>
                            An introduction to basic Spanish adapted to young children. Basic vocabulary and expressions are taught.
                        </p>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <h3>Ages 8-12</h3>
                        <p>
                            Reading and writing Spanish is introduced. In addition, vocabulary and expressions are taught.
                        </p>
                    </div>

                    <div class="col-xs-12 page-scroll">
                        <div class="divider-grey"></div>
                        <p style="text-align: center">For more information, please make <a href="#contact">contact</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="price" class="text-center">
        <div class="container content">
           <div class="row">
                <h2>Price</h2>
                <div class="col-xs-12">
                    <div class="divider-grey"></div>
                </div>
                <div class="col-sm-8 col-sm-offset-2 col-xs-12">
                    <div style="margin-bottom: 1.0em;"><p style="text-align: center">I <strong>do not charge</strong> for the <a href="#firstlesson">first lesson!</a></p></div>
                    <div><p style="text-align: center">For <a href="#firstlesson">exam preparation</a> fees, please make <a href="#contact">contact</a>.</p></div>
                    <div style="margin-bottom: 1.0em;"><p style="text-align: center">My prices are not set in stone, but the tables below is what I generally charge</p></div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="table-block">
                                <table class="table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th colspan="2" class="text-center">Individual Rates</th>
                                        <tr>
                                    </thead>
                                    <tbody>
                                        <tr><td rowspan="3" class="rowspan">I will travel to you</td><td><strong>$30</strong> 60 minutes</td></tr>
                                        <tr><td><strong>$40</strong> 90 minutes</td></tr>
                                        <tr><td><strong>$50</strong> 120 minutes</td></tr>
                                        <tr><td class="rowspan" rowspan="3">At the <a href="https://www.google.ca/maps/place/Vancouver+Public+Library+-+Central+Branch/@49.279754,-123.115679,17z/data=!3m1!4b1!4m7!1m4!3m3!1s0x5486717e9849da43:0xb9df0be6adeff97b!2sVancouver+Public+Library+-+Central+Branch!3b1!3m1!1s0x5486717e9849da43:0xb9df0be6adeff97b?hl=en" target="_blank">central library</a></td><td><strong>$20</strong> 60 minutes</td></tr>
                                        <tr><td><strong>$30</strong> 90 minutes</td></tr>
                                        <tr style="border-bottom: 1px;"><td><strong>$40</strong> 120 minute</td></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="table-block">
                                <table class="table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th colspan="2" class="text-center">Group Rates Per Person<br>Where No Travel Is Needed</th>
                                        <tr>
                                    </thead>
                                    <tbody>
                                        <tr><td>2 to 3 students</td><td><strong>$15</strong> per hour</td></tr>
                                        <tr><td>4 to 5 students</td><td><strong>$12</strong> per hour</td></tr>
                                        <tr><td>6 students</td><td><strong>$10</strong> per hour</td></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-xs-12 page-scroll">
                            <div class="divider-grey"></div>
                        		<p style="text-align: center">For more information, please make <a href="#contact">contact</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="contact" class="text-center">
        <div class="container content">
            <h2>Contact</h2>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="divider-grey"></div>
                        </div>
                        <div class="col-md-12" style="padding-bottom: 1.0em;">
                        </div>
                        <div class="col-md-12">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
                            </span>
                        </div>
                        <div class="col-md-12">
                            <p style="text-align: center">+1.778.834.4284</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-inbox fa-stack-1x fa-inverse"></i>
                            </span>
                        </div>
                        <div class="col-md-12">
                            <p style="text-align: center"><span id="mail">itziar [a] spanishtuition [d] ca</span><p>
                        </div>
                    </div>
                </div>
            </div>

            <h3>Social Connect</h3>
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">

                    <div class="row social-connect">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-12">
                                    <a href="https://ca.linkedin.com/pub/itziar-l%C3%B3pez-noble/23/277/9bb" target="_blank" style="border: none">
                                        <span class="hidden-xs link">LinkedIn</span>
                                        <span class="fa-stack fa-lg">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                </div>
                                <div class="visible-xs">
                                    <p style="text-align: center"><a href="https://ca.linkedin.com/pub/itziar-l%C3%B3pez-noble/23/277/9bb" target="_blank">LinkedIn</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-12">
                                    <a href="https://facebook.com/spanishtuition.ca" target="_blank" style="border: none">
                                        <span class="fa-stack fa-lg">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                        </span>
                                        <span class="hidden-xs link">Facebook</span>
                                    </a>
                                </div>
                                <div class="visible-xs">
                                    <p style="text-align: center"><a href="https://facebook.com/spanishtuition.ca" target="_blank">FaceBook</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
